<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Captura de Rostros</title>
</head>
<body>
    <h1>Registro de Captura de Rostros</h1>

    <h2>Registrar Socio</h2>
    <form action="/add/socio" method="post">
        <label for="nombre_socio">Nombre:</label>
        <input type="text" id="nombre_socio" name="nombre" required><br><br>
        <label for="codigo_socio">Código Único:</label>
        <input type="text" id="codigo_socio" name="codigo_unico" required><br><br>
        <button type="submit">Iniciar Captura para Socio</button>
    </form>

    <h2>Registrar Entrenador</h2>
    <form action="/add/entrenador" method="post">
        <label for="nombre_entrenador">Nombre:</label>
        <input type="text" id="nombre_entrenador" name="nombre" required><br><br>
        <label for="codigo_entrenador">Código Único:</label>
        <input type="text" id="codigo_entrenador" name="codigo_unico" required><br><br>
        <button type="submit">Iniciar Captura para Entrenador</button>
    </form>


</body>
</html>
